#about {

	position: relative;
	margin-bottom: $mobile-section-bottom-margin;

    @media(min-width: $tablet){
        margin-bottom: $tablet-section-bottom-margin;
    }

    @media(min-width: $laptop){
        margin-bottom: $laptop-section-bottom-margin;
    }

    @media(min-width: $desktop){
        margin-bottom: $section-bottom-margin;
    }

	.container {

		margin-top: 200px;
		margin-bottom: 200px;

		@media(min-width: $laptop) {
			margin-top: 150px;
			margin-bottom: 150px;
		}

		@media(min-width: $tablet) {
			margin-top: 100px;
			margin-bottom: 100px;
		}

		h2 {

			@media(min-width: $small-tablet){
				margin-bottom: 40px;
			}

			@media(min-width: $laptop){
				font-size: 52px;
			}

			@media(min-width: $desktop){
				font-size: 62px;
			}

			@media(min-width: $large-desktop){
				margin-bottom: 40px;
			}

			&:after {
				@media(min-width: $large-desktop){
					margin-top: 45px;
				}
			}
		}

		p {
			@media(min-width: $laptop){
				font-size: 32px;
			}

			@media(min-width: $desktop){
				font-size: 38px;
			}
		}
	}
}
