.contact {
	color: #fff;
	padding: $column-padding 0 100px 0;
	position: relative;

	@media(min-width: $tablet) {
		padding: 80px 0 20% 0;
	}

	@media(min-width: $large-desktop){
		padding-top: 70px;
		padding-bottom: 300px;
	}

	.contact-bg {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: bottom;
		position: absolute;
		top: 0;
		left: 0;

		// @media(min-width: $tablet){
		// 	position: relative;
		// }
	}

	a {
		color: #fff;
	}

	.container {

		z-index: 2;
		text-align: center;

		// position: absolute;
	 //    top: 0;
	 //    left: 0;
	 //    right: 0;
	 //    bottom: 0;
	 //    margin: auto;
	 //    height: 500px;

		@media(min-width: $huge-desktop){
			padding: 250px 0;
		}

		.map {
			position: relative;
			border-radius: 50%;
			text-align: center;
			display: inline-block;

			img {
				margin: 0 auto;
				display: block;
				max-width: 300px;

				@media(min-width: $tablet){
					max-width: 470px;
				}

				@media(min-width: $laptop){
					max-width: 600px;
				}

				@media(min-width: $desktop){
					max-width: 800px;
				}

				@media(min-width: $large-desktop){
					max-width: 1300px;
					width: 900px;
				}
			}

			div {
				position: absolute;
				top: 0;
				left: 0;
				right:0;
				margin: auto;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					max-width: 60%;
					margin: 2px 0;
					font-size: 14px;

					strong {
						@include bottomLine($color: #fff, $width: 100%, $height: $youniverse-thin-line-height);
					}

					@media(min-width: $tablet){
						font-size: 18px;
					}

					@media(min-width: $laptop){
						font-size: 22px;
					}

					@media(min-width: $desktop){
						font-size: 27px;
					}

					@media(min-width: $large-desktop){
						font-size: 37px;
					}

					&.phone {
						@media(min-width: $large-desktop){
							font-size: 66px;
							font-weight: 600;
							margin-bottom: 50px;
						}
					}
				}

				a {
					display: block;
					font-weight: 100;
					margin: 0;

					@media(min-width: $large-desktop){
						font-size: 27px;
					}
				}
			}
		}
	}

	.terms {
		padding: $column-padding;
	}
}
