@font-face {
    font-family: "SD-Gothic";
    src: url('/assets/fonts/sd_gothic.woff2') format('woff2'), url('/assets/fonts/sd_gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}