.footer {
	background-color: #000;
	color: #fff;
	margin: 0;
	overflow: hidden;
	text-align: center;

	@media(min-width: $tablet){
		padding: $column-padding 0;
	}

	@media(min-width: $laptop){
		padding: $column-padding 0;
	}

	@media(min-width: $large-desktop){
		padding-top: 50px;
		padding-bottom: 50px;
	}

	p {
		font-size: 12px;
		margin: 0;
		font-weight: 100;

		@media(min-width: $small-tablet){
	        font-size: 14px;
	    }

		@media(min-width: $large-desktop){
			font-size: 18px;
			font-weight: 100;
		}
	}

	a {
		color: #fff;
		font-size: 12px;
		margin-bottom: 5px;
		display: block;

		@media(min-width: $small-tablet){
	        font-size: 14px;
	    }

		@media(min-width: $tablet){
			display: inline-block;
		}

		@media(min-width: $large-desktop){
			font-size: 18px;
			font-weight: 100;
			display: inline-block;
			margin-bottom: 10px;
		}
	}

	span {
		display: none;
		@media(min-width: $tablet){
			display: inline-block;
		}
	}
}
