.header {
	@extend .section-margins;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;

	.bg-image {
		position: absolute;
		object-fit: cover;
		object-position: center center;
		width:100%;
		height: 100%;
	}

	.logo-image {
		@extend .absolute-center;
		max-width: 90%;

		@media(min-width: $laptop){
			max-width: 70%;
		}

		@media(min-width: $desktop){
			max-width: 100%;
		}
	}

	.container {

		text-align: center;
		color: #fff;
		@extend .absolute-center;
		top: auto;

		h2 {

			text-transform: uppercase;
			font-size: 24px;

			@media(min-width: $med-phone){
				font-size: 31px;
			}

			@media(min-width: $lg-phone){
				font-size: 38px;
			}

			@media(min-width: $small-tablet){
				font-size: 42px;
			}

			@media(min-width: $tablet){
				font-size: 54px;
			}

			@media(min-width: $tablet-landscape){
				font-size: 73px;
			}

			@media(min-width: 1100px){
				font-size: 78px;
			}

			@media(min-width: 1200px){
				font-size: 85px;
			}

			@media(min-width: $laptop){
				font-size: 91px;
			}

			@media(min-width: 1300px){
				font-size: 92px;
			}
			@media(min-width: 1400px){
				font-size: 98px;
			}

			&:after {
				display: none;
			}
		}
	}
}







////////////////////////// OLD //////////////////////////




header {
	position: relative;
	margin-bottom: $mobile-section-bottom-margin;

    @media(min-width: $tablet){
        margin-bottom: $tablet-section-bottom-margin;
    }

    @media(min-width: $laptop){
        margin-bottom: $laptop-section-bottom-margin;
    }

    @media(min-width: $desktop){
        margin-bottom: $section-bottom-margin;
    }

	&:before {
		background-color: #ff0764;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		transition: all $transition-time*2 ease-in-out;
		clip-path: polygon(0% 0%, 100% 0%, 100% -10%, 0% 90%);
		position: absolute;
		top: 0;
	}

	&:after {
		background-color: #ff0764;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		transition: all $transition-time*2 ease-in-out;
		clip-path: polygon(10% 100%, 100% 10%, 100% 100%, 0% 100%);
		position: absolute;
		top: 0;
	}

	@media(min-width: 320px){
		width: 100vw;
		height: 100vh;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

		&.hero-bg {

			&-small {
				display: block;

				@media(min-width: $tablet-landscape){
					display: none;
				}
			}

			&-medium {
				display: none;

				@media(min-width: $tablet-landscape){
					display: block;
				}

				@media(min-width: $desktop){
					// display: none;
				}
			}

			&-large {
				display: none;

				@media(min-width: $desktop){
					// display: block;
				}
			}
		}

		&.header-text {
			position: absolute;
			left: 0;
			top: 0;
			object-fit: contain;
			z-index: 1;
			transition: all 0.5s linear 1s;
		}
	}

	&.animate {

		&:before {
			clip-path: polygon(0% 0%, 100% 0%, 100% -10%, 0% 90%);
			animation: topAnim 3s linear 1s forwards;
		}

		&:after {
			clip-path: polygon(10% 100%, 100% 10%, 100% 100%, 0% 100%);
			animation: bottomAnim 3s linear 1s forwards;
		}

		img {
			&.header-text {
				opacity: 0;
			}
		}
	}
}


@keyframes topAnim {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% -10%, 0% 90%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% -100%, 0% 0%);
  }
}

@keyframes bottomAnim {
  0% {
    clip-path: polygon(10% 100%, 100% 10%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
