.how-we-do {
    padding-bottom: 40px;

    .how-inner {
        text-align: center;

        h2 {
            font-size: 48px;
        }

        p {
            margin-top: 45px;
        }
    }

    .how-circles-container {
        width: 100%;
        padding: 0 40px;
        display: flex;
        margin-top: 65px;
        position: relative;
        flex-wrap: wrap;


        .how-circle {
            width: 100%;
            height: 250px;
            flex: 0 0 25%;
            border-radius: 50%;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: 'Libre Baskerville', serif;
            margin-bottom: 40px;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }

            @media(min-width: $laptop) {
                width: 87%;
            }

            p {
                font-size: 30px;

                @media(min-width: $small-tablet) {
                    font-size: 27px;
                }

                @media(min-width: $tablet) {
                    font-size: 21px;
                }

                @media(min-width: $laptop) {
                    font-size: 26px;
                }
            }
        }
    }

    .pencil-dash {
        width: auto;
        height: auto;
        position: absolute;
        right: 15px;
        top: -50px;
        width: 30px;
        display: none;
        opacity: 0;

        &.animated {
            animation-name: pencil-animation;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-delay: 4s;
        }

        @media(min-width: $tablet) {
            display: initial;
        }

        @media(min-width: $tablet-landscape) {
            top: -40px;
            right: 20px;
            width: auto;
        }

        @media(min-width: $laptop) {
            top: -50px;
        }
    }

    .pencil-line {
        display: none;
        position: absolute;
        width: 80%;
        bottom: -5%;
        left: 14%;
        z-index: 1;

        .cls-3, .cls-4 {
            stroke: #0054ff;
        }

        .cls-4 {
            stroke-dasharray: 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5  2000;
            stroke-dashoffset: 3500;
            
            &.animated {
                animation-name: dash-animation;
                animation-duration: 4s;
                animation-fill-mode: forwards;
            }
        }

        @media(min-width: $tablet) {
            display: initial;
        }

        @media(min-width: $tablet-landscape) {
            width: 83%;
            bottom: -15%;
            left: 11%;
        }

        @media(min-width: $laptop) {
            width: 84%;
            bottom: -25%;
        }

        @media(min-width: $desktop) {
            width: 85%;
            bottom: -25%;
        }
    }

    .how-circle-box {
        flex: 0 0 100%;
        padding: 0 20px;

        @media(min-width: $small-tablet) {
            flex: 0 0 50%;
        }

        @media(min-width: $tablet) {
            flex: 0 0 25%;
        }
    }
}

@keyframes dash-animation {
    0% {
        stroke-dashoffset: 3500;
    }

    100% {
        stroke-dashoffset: 1600;
    }

}

@keyframes pencil-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}