.knowledge-network {
	margin: auto;
	padding: $mobile-section-bottom-margin 0;
	margin-bottom: $mobile-section-bottom-margin;
	max-width: 1440px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAJElEQVQImT2JsQ0AMAyDyP9X2o+QIWqZEJDEx6gA0JZr9/mmLvUvKHNnB/qvAAAAAElFTkSuQmCC');

    @media(min-width: $tablet){
        margin-bottom: $tablet-section-bottom-margin;
        padding: $tablet-section-bottom-margin 0;
    }

    @media(min-width: $laptop){
        margin-bottom: $laptop-section-bottom-margin;
        padding:  $laptop-section-bottom-margin 0;
    }

    @media(min-width: $desktop){
        margin-bottom: $section-bottom-margin;
        padding:  $section-bottom-margin*0.66 0;
    }

    @media(min-width: $desktop){
    	// padding-bottom: 290px;
    }

	img {
		max-width: 100%;
	}

	.knowledge-social {
		margin-top: 60px;
		ul {
			padding-left: 0;
			list-style: none;

			li {
				display: inline-block;
				padding-right: 20px;

				img {
					height: 60px;
				}
			}
		}
	}

	h2 {
		font-weight: 800;
		margin-top: 0;
		margin-bottom: 0;

		@media(min-width: $laptop){
			font-size: 55px;
		}

		@media(min-width: $large-desktop){
			font-size: 66px;
		}

		span {
			color: #ff0000;
		}

		&:after {
			display: none;
		}
	}

	h3 {

		font-weight: 100;
		margin-top: 10px;
		margin-bottom: 0;

		@media(min-width: $small-tablet){
			margin-top: 20px;
		}

		@media(min-width: $tablet){
			margin-top: 5px;
			margin-bottom: 40px;
		}

		@media(min-width: $large-desktop){
			font-size: 32px;
			margin-bottom: 60px;
			margin-top: 5px;
		}

		&:after {
			display:none;
		}
	}

	.button {

		@media(min-width: $small-tablet){
			margin: 25px 0;
		}

		@media(min-width: $laptop){
			margin-top: 50px;
		}

		@media(min-width: $large-desktop){
			// margin-top: 30px;
		}
	}

	.inner {
		margin: auto;
	}

	.two-cols {
		div {
			&:first-child {
				@include topLine($color: #000, $width: 30px, $height: $youniverse-thin-line-height);
				margin-bottom: $mobile-section-bottom-margin;

				@media(min-width: $tablet){
			        margin-bottom: 0;
			    }

			    @media(min-width: $large-desktop){
			    	@include topLine($color: #000, $width: 50px, $height: 4px);
			    }

			    &:before {
			    	@media(min-width: $small-tablet){
				        margin-bottom: 25px;
				    }

			    	@media(min-width: $laptop){
			    		margin-bottom: 50px;
			    	}

			    	@media(min-width: $large-desktop){
			    		margin-bottom: 50px;
			    	}
			    }
			}
		}
	}
}
