.logo {
	img {
		position: absolute;
		left: 0;
		right: 0;
		margin: $column-padding auto auto auto;
		z-index: 2;
		max-width: 70%;

		@media(min-width: $tablet){
			max-width: 90%;
		}

		@media(min-width: $large-desktop){
			margin: 45px auto auto auto;
			width: 450px;
		}
	}
}

.alt-logo {
	img {
		position: relative;
		// max-width: 300px;
	}
}