.intro-text {
	background-color: #eeeeee;

	@extend .section-paddings;
	@extend .section-margins;

	@media(min-width: $tablet){
		padding-bottom: 0;
	}

	@media(min-width: $laptop){
		padding-bottom: 0;
		padding-top: 50px;
	}

	@media(min-width: $desktop){
		padding-bottom: 0;
		padding-top: 80px;
	}

	@media(min-width: $large-desktop){
		padding-top: 100px;
	}

	.container {

		.two-cols {

			position: relative;

			.text-side {

				padding-bottom: 50px;

				@media(min-width: $tablet){
					min-height: 470px;
				}

				@media(min-width: $laptop){
					min-height: 570px;
				}

				@media(min-width: $desktop){
					min-height: 630px;
				}

				@media(min-width: $large-desktop){
					min-height: 600px;
				}
			}

			.phone-anim {
				display: none;
				position: absolute;
				right: 0;
				width: 50%;
				bottom: 0;
				max-width: 320px;

				@media(min-width: $tablet){
					display: block;
				}

				@media(min-width: $laptop){
					max-width: 400px;
				}

				@media(min-width: $desktop){
					max-width: 450px;
				}

				img {
					margin: auto;
					display: block;
					position: relative;
					z-index: 2;
				}

				.inner {
					position: absolute;
				    top: auto;
				    left: 0;
				    width: 100%;
				    height: 90%;
				    bottom: 0;
				    overflow: hidden;
				}

				.phone-anim-phone {

				}

				.website-scroll {
					position: absolute;
					left: 0;
					right: 0;
					width: 87%;
					top:10px;
					z-index: 1;
					max-width: 435px;

					@media(min-width: $laptop){

					}

					@media(min-width: $desktop){

					}
				}
			}
		}
	}
}



