.team-images {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 120px;
    position: relative;

    &:hover {

        .hover-container {
            opacity: 1;
            pointer-events: all;
        }
        
    }

    img {
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        transition: opacity 0.4s ease-in;
    }

    .half {
        flex: 0 0 50%;
        max-height: 100%;
    }

    .quarter {
        flex: 0 0 50%;
        max-height: 100%;

        @media (min-width: $tablet-landscape) {
            flex: 0 0 25%;
        }

        &.multiple {
            display: flex;
            flex-direction: column;

            .half-height {
                flex: 0 0 50%;
                max-height: 50%;
            }
        }

    }

    .hover-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;

        .insta-link-box {
            background-color: rgba(255, 255, 255, 0.9);
            width: auto;
            padding: 30px;

            img {
                width: auto;
                height: auto;
                object-fit: initial;
            }
        }
    }
}