.team-panel {

	@extend .section-margins;

	img {
		width: 100%;
		display: block;
	}

	ul {
		display: flex;
		padding: 0;
		margin: $column-padding 0;
		list-style-type: none;
		flex-wrap: wrap;

		@media(min-width: $tablet){
			flex-wrap: nowrap;
		    margin: 33px 0;
		}

		@media(min-width: $tablet-landscape){
			margin: ($column-padding*2) 0;
		}

		@media(min-width: $desktop){
			margin: ($column-padding*3) 0;
		}

		@media(min-width: $desktop){
			margin: ($column-padding*6) 0 ($column-padding*10) 0;
		}

		li {
			flex-grow: 0;
			font-weight: bold;
			cursor: pointer;
			width: 24%;
			margin-bottom: 8px;

			@media(min-width: $tablet){
				flex-grow: 1;
				width: auto;
				margin-bottom: 0;
			}

			@media(min-width: $laptop){
				font-size: 37px;
			}

			@include bottomLine($color: transparent, $width: 10px, $height: 2px);

			&:after {
				transition: all $transition-time ease-out;
				margin: 5px 0 0 0;

				@media(min-width: $tablet){
					width: 25px;
				}

				@media(min-width: $laptop){
					width: 35px;
					height: $youniverse-thin-line-height;
				}

				@media(min-width: $large-desktop){
					width: 55px;
					height: 5px;
					margin: 15px 0 0 0;
				}
			}

			&.active {
				&:after {
					background-color: #000;
				}
			}
		}
	}

	.team-member-info {
		display: none;
		padding: 0;

		h3 {
			font-weight: bold;
			margin-bottom: 15px;

			@media(min-width: $laptop){
				font-size: 37px;
			}
		}

		&.active {
			display: block;
		}
	}
}
