.two-cols {

	@media(min-width: $tablet){
		@include columns(2, 10px);
		@media(min-width: $tablet){
            @include columns(2, 30px);
        }
	}

	div {
		img {
			max-width: 100%;
		}
	}
}

.section-margins {
	margin-bottom: $mobile-section-bottom-margin;

    @media(min-width: $tablet){
        margin-bottom: $tablet-section-bottom-margin;
    }

    @media(min-width: $laptop){
        margin-bottom: $laptop-section-bottom-margin;
    }

    @media(min-width: $desktop){
        margin-bottom: $section-bottom-margin;
    }
}

.section-paddings {
	padding-top: $mobile-section-bottom-margin;
	padding-bottom: $mobile-section-bottom-margin;

    @media(min-width: $tablet){
        padding-top: $tablet-section-bottom-margin;
        padding-bottom: $tablet-section-bottom-margin;
    }

    @media(min-width: $laptop){
        padding-top: $laptop-section-bottom-margin;
        padding-bottom: $laptop-section-bottom-margin;
    }

    @media(min-width: $desktop){
        padding-top: $section-bottom-margin;
        padding-bottom: $section-bottom-margin;
    }
}

.container {
	max-width: $container-width;
	margin: auto;
	padding: $column-padding;

    @media(min-width: $small-tablet){
        width: 95%;
    }

	@media(min-width: $tablet){
		padding: 0;
		width: 85%;
	}

	// @media(min-width: $laptop){
	// 	width: 85%;
	// }

	@media(min-width: $desktop){
		width: 100%;
	}

	&-large{
		@extend .container;
		margin: auto;

        @media(min-width: $tablet){
            padding: 0;
            width: 90%;
        }

        // @media(min-width: $laptop){
        //     width: 90%;
        // }

		@media(min-width: 1500px){
			max-width: $large-container-width;
		}
	}
}


.split-container {

	@extend .container;

	@media(min-width: $large-container-width){
		width: ($large-container-width - ($large-container-width - $container-width)/2);
		max-width: 100%;
		margin-right: 0;
	}
}

.button {
    text-align: center;
    color: $font-colour;
    font-weight: 600;
    display: inline-block;
    margin: $column-gutter auto $column-gutter 0;
    border: 3px solid #000;
    padding: $column-padding/2 $column-padding;

    @media(min-width: $med-phone){

    }

    @media(min-width: $laptop){
    	font-size: 30px;
    	padding: $column-padding/2 $column-padding;
    	margin: $column-gutter auto $column-gutter 0;
    }

    @media(min-width: $desktop){
    	font-size: 43px;
    	padding: $column-padding $column-padding*2;
    }

    @media(min-width: $large-desktop){
    	padding: 2px $column-padding*5;
    	border-width: 4px;
    	margin: $column-gutter auto 0 0;
    }
}

.divider-line {
	display: block;
	margin: 20px auto;
	width: 100%;
}


















