$med-phone 						: 400px;
$lg-phone 						: 480px;
$small-tablet 					: 560px;
$tablet 						: 768px;
$tablet-landscape 				: 1024px;
$laptop 						: 1280px;
$desktop 						: 1440px;
$large-desktop 					: 1600px;
$huge-desktop 					: 2000px;

$column-gutter 					: 13px;
$column-padding 				: 13px;

$mobile-section-bottom-margin 	: 30px;
$tablet-section-bottom-margin 	: 50px;
$laptop-section-bottom-margin 	: 170px;
$section-bottom-margin 			: 228px;

$container-width 				: 1170px;
$large-container-width 			: 1440px;

$transition-time 				: 400ms;

$youniverse-thin-line-height	: 3px;

$font-colour 					: #333;
$youniverse-red 				: #f42292;
$youniverse-teal 				: #0eb8c3;
$youniverse-pink 				: #ff0764;
