.what-we-do {
    margin-bottom: 130px;

    &.stars-open {
        .stars-content-panel {
            display: flex;
        }

        .stars-container {
            display: none;
        }
    }


    .what-inner {
        text-align: center;

        h2 {
            font-size: 48px;
            margin-bottom: 65px;

            &:after {
                display: none;
            }
        }

        p {
            margin-bottom: 38px;
        }
    }

    .star-info {
        display: none;
    }

    .stars-content-panel {
        background-color: #fdc006;
        position: relative;
        padding: 30px;
        justify-content: center;
        display: none;

        .close-btn {
            width: 40px;
            height: 40px;
            top: 30px;
            left: 30px;
            position: absolute;
            cursor: pointer;

            img {
                width: 100%;
            }
        }

        .stars-content {
            text-align: center;

            h2 {
                &:after {
                    display: none;
                }
            }

            ul {
                padding-left: 0;
            }
            
            li {
                list-style: none;
                padding-left: 0;
                padding: 5px;
            }
        }
    }

    .stars-container {
        display: flex;

        .star {
            display: flex;
            flex: 0 0 20%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            img {
               width: 70%;
            }

            p {
                margin-top: 60px;
                font-family: 'Libre Baskerville', serif;
            }
        }
    }
}