#why {
	@extend .section-margins;

	.container {

		p {
			@media(min-width: $laptop){
				font-size: 30px;
			}

			@media(min-width: $desktop){
				font-size: 36px;
			}
		}


		h2, .section-title {
			margin-bottom: $column-gutter;
			font-weight: bold;
			font-size: 36px;

			@media(min-width: $small-tablet){
				margin-bottom: 30px;
			}

			&:after {
				display:none;
			}

			@media(min-width: $laptop){
				font-size: 52px;
				margin-bottom: $column-gutter*3;
			}

			@media(min-width: $desktop){
				font-size: 66px;
				margin-bottom: $column-gutter*4;
			}

			@media(min-width: $large-desktop){
				margin-bottom: 100px;
			}
		}

		
		.button {
			@media(min-width: $small-tablet){
				margin-top: 30px;
				margin-bottom: 50px;
			}

			@media(min-width: $laptop){
				margin-top: 50px;
			}
		}
	}
}
