.work-info {

	@extend .section-margins;
	padding-top: 100px;

	@media(min-width: $tablet){
		padding-top: 200px;
	}

	@media(min-width: $tablet-landscape){
		margin-bottom: 100px;
	}

	.client-name {
		text-transform: uppercase;
		font-size: 72px;
	}

	h1 {

		font-size: 26px;
		margin: 40px 0;

		@media(min-width: $tablet){
			font-size: 35px;
		}

		@media(min-width: $laptop){
			font-size: 52px;
		}

		@media(min-width: $desktop){
			font-size: 66px;
		}

		@media(min-width: $large-desktop){
			font-size: 72px;
		}
	}

	img {
		max-width: 100%;
	}

	.client-image {
		max-width: 50%;
	}

	video {
		max-width: 100%;
	}

	.container {
		.two-cols {
			@extend .section-margins;
			div {
				position: relative;

				.client-logo {
					display: block;
					position: absolute;
					bottom: 0px;
					margin: auto;
					left: 0;
				}
			}
		}
	}

	.work-images {
		img {
			@extend .section-margins;
			width: 100%;
			display: block;
			margin-bottom: 0;

			@media(min-width: $tablet){
				margin-bottom: 30px;
			}
		}
	}
}

.intro-text {
	background-color: #eeeeee;
	// padding-top: 10px;
	// padding-bottom: 30px;

	@extend .section-paddings;
	@extend .section-margins;

	@media(min-width: $tablet){
		// padding-top: 30px;
		padding-bottom: 0;
	}

	@media(min-width: $laptop){
		padding-bottom: 0;
	}

	@media(min-width: $desktop){
		padding-bottom: 0;
	}

	@media(min-width: $large-desktop){
		padding-top: 0;
	}

	.container {
		// padding-bottom: 0;
		// @media(min-width: $tablet){
		// 	padding-bottom: 13px;
		// }
	}
}

.other-work-images {
	// @extend .section-paddings;
	// @extend .section-margins;
	padding-top: 30px;
	margin-bottom: 30px;

	@media(min-width: $tablet){
		padding-top: 100px;
		margin-bottom: 100px;
	}

	img {
		max-width: 100%;
	}
}


