.work-slider {

    @media(min-width: $large-desktop){
        margin-bottom: 165px;
    }

    @extend .section-margins;

    .slider-wrapper {

        position: relative;

        .slider {
            width: 100%;
            padding-bottom: 64%;

            div {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                p {
                    position: absolute;
                    color: #fff;
                    bottom: 1%;
                    left: 4%;
                    font-size: 25px;
                    font-weight: bold;
                    text-shadow: 0 1px 0 black;

                    @media(min-width: $tablet){
                        font-size: 35px;
                    }

                    @media(min-width: $laptop){
                        font-size: 58px;
                    }
                }
            }
        }

        .dots {

            margin: 0;
            padding: 0;
            list-style-type: none;
            position: absolute;
            bottom: -30px;
            right: 0;
            z-index: 3;

            @media(min-width: $laptop){
                bottom: -50px;
            }

            li {
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: #000;
                border-radius: 50%;
                transition: all $transition-time ease-out;

                &.active {
                    background-color: $youniverse-teal;
                }
            }
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            margin-top: -25px;
            display: block;
            cursor: pointer;
            z-index: 3;
            background-color: #fff;
            display: none;

            @media(min-width: $tablet){
                // display: block;
            }

            svg {
                width: 25px;
            }
        }

        .next {
            right: 0;
        }

        .prev {
            left: 0;
        }
    }
}










