#about {
	position: relative;
	margin-top: -18%;

	@media(min-width: $tablet){
		margin-top: -24%;
	}

	@media(min-width: $tablet-landscape){
		margin-top: -40%;
	}

	@media(min-width: $laptop) {
		margin-top:	-53%;
	}

	.knowledge-icon {
		right: $column-gutter;
		top: -20px;
		position: absolute;
		z-index: 2;
		display: block;

		@media(min-width: $tablet){
			display: none;
		}
	}

	.about-bg {
		@include slantedBottom($percent: 80%);
		width: 100%;
	}

	.container {

		margin-top: -97%;

		@media(min-width: $tablet){
			margin-top: -100%;
		}

		@media(min-width: $tablet-landscape){
			margin-top: -80%;
		}

		@media(min-width: $laptop) {
			margin-top: -69%;
		}

		@media(min-width: $huge-desktop){
			margin-top: -32%;
		}

		h2 {
			margin-top: 0;
		}

		div {

			&:last-child {
				margin-top: 17%;
			}
		}

		.about-image {
			display: block;
			margin: 0 auto;
			@include slantedBottom($percent: 80%);
			width: 47.7%;

			@media(min-width: $tablet){
				margin: 99.5% auto auto auto;
				width: 100%;
				max-width: 100%;
			}

			@media(min-width: 900px){
				margin: 96% auto auto auto;
			}

			@media(min-width: $tablet-landscape){
				margin-top: 36%;
			}

			@media(min-width: $laptop) {
				margin: 35% auto auto auto;
				width: 80%;
			}
		}
	}
}
