* {
	box-sizing : border-box;
}

::selection {
  background: $youniverse-teal;
  background: transparent;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    color: $font-colour;
    position: relative;
}

h2 {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
	@include bottomLine($color: #000, $width: 30px, $height: $youniverse-thin-line-height);

	@media(min-width: $tablet){
		font-size: 35px;
	}

	&:after {
		margin-top: 20px;
	}
}

p {
	margin: $column-gutter 0;
}

a {
	color: $youniverse-red;
	text-decoration: none;
	font-weight: bold;
}

blockquote {
	padding: 0;
	margin: 0 0 $column-gutter 0;
	font-weight: bold;

	&:before {
		content: '';
		display: block;
		background-color: $youniverse-red;
		width: 100%;
		height: $youniverse-thin-line-height;
		margin-bottom: 10px;
	}

	&:after {
		content: '';
		display: block;
		background-color: $youniverse-red;
		width: 100%;
		height: $youniverse-thin-line-height;
		margin-top: 10px;
	}

}
