.contact {
	background-image: url('../img/contact.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding: $column-padding 0 100px 0;
	position: relative;

	@media(min-width: $tablet) {
		padding: 80px 0 20px 0;
	}

	.alpha-bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background: rgba(0,0,0,0.3);
		z-index: 1;
	}

	.container {
		position: relative;
		z-index: 2;

		&.two-cols {
			div {
				h2 {
					&:after {
						background-color: #fff;
					}
				}

				.phone {
					font-size: 40px;
				}

				a {
					color: #fff;
				}

				&:first-child {
					img {
						width: 100%;
						max-width: 260px;
						margin: auto;
						display: block;

						@media(min-width: $tablet){
							max-width: 350px;
						}

						@media(min-width: $desktop){
							max-width: 450px;
						}
					}
				}
			}
		}
	}

	.terms {
		padding: $column-padding;
	}
}
