.contact {
	background-image: url('../img/contact.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	padding: 200px 0 0 0;
 
	.terms {
		padding: $column-padding;
	}
}
