.footer {
	background-color: #000;
	color: #fff;
	margin: 0;
	overflow: hidden;
	text-align: center;

	@media(min-width: $laptop){
		padding: $column-padding 0;
	}

	p {
		font-size: 12px;
	}

	a {
		color: #fff;
		font-size: 12px;
	}
}
