header {

	position: relative;

	img {

		max-width: 100%;
		width: 100%;

		&.hero-img {
			position: absolute;
			top: 8%;
			left: 0;
			width: 80%;
			right: 0;
			margin: auto;
			max-width: 1400px;

			@media(min-width: $lg-phone){
				top: 5%;
			}
		}

		&.hero-bg {
			@include slantedBottom($percent: 80%);

			@media(min-width: $large-desktop){

			}

			@media(min-width: $huge-desktop){
				clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 81%);
			}
		}
	}
}
