.knowledge-icon {
	display: block;
	width: 100px;
	margin: auto;
	display: none;
	transition: all 0.3s ease-in-out;

	&.hide {
		opacity: 0;
	}

	@media(min-width: $tablet){
		display: block;
		right: $column-gutter;
		top: $column-gutter;
		position: fixed;
		z-index: 2;
	}

	img {
		width: 100%;
	}
}
