.menu {

	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	padding: $column-padding;
	transition: all 0.3s ease-in-out;

	&.nav-hide {
		opacity: 0;
	}

	@media(min-width: $tablet) {
		position: fixed;
		top: 200px;
		width: 120px;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

		@media(min-width: $tablet) {
			width: 200px;
		}

		li {
			cursor: pointer;

			a {
				font-weight: bold;
				display: block;
				text-transform: uppercase;
				text-decoration: none;
				color: $font-colour;
				margin: ($column-gutter) 0;


				&:after {
					display: block;
					content: '';
					background-color: transparent;
					transition: all $transition-time ease-out;
					width: 10px;
					height: 2px;

					@media(min-width: $laptop){
						// width: 55px;
						// height: 2px;
					}
				}

				&.current-item {
					color: $youniverse-teal;

					&:after {
						background-color: #000;
					}
				}
			}
		}
	}
}
