.team-panel {
	
	margin-bottom: $section-bottom-margin;

	img {
		width: 100%;
		display: block;
	}

	ul {
		display: flex;
		padding: 0;
		margin: $column-padding 0;
		list-style-type: none;
		flex-wrap: nowrap;
		
		li {
			flex-grow: 1;
			font-weight: bold;
			cursor: pointer;

			@media(min-width: $tablet){
				font-size: 14px;
			}

			@media(min-width: $laptop){
				font-size: 24px;
			}

			&:after {
				display: block;
				content: '';
				background-color: transparent;
				transition: all $transition-time ease-out;
				width: 10px;
				height: 2px;

				@media(min-width: $tablet){
					width: 25px;
					height: 2px;
				}

				@media(min-width: $laptop){
					width: 55px;
					height: 5px;
				}
			}

			&.active {
				&:after {
					background-color: #000;
				}
			}
		}
	}

	.team-member-info {
		display: none;
		padding: 0;

		&.active {
			display: block;
		}
	}
}
