.team-panel {

	margin-bottom: $section-bottom-margin/2;

    @media(min-width: $tablet){
        margin-bottom: $section-bottom-margin;
    }

	img {
		width: 100%;
		display: block;
	}

	ul {
		display: flex;
		padding: 0;
		margin: $column-padding 0;
		list-style-type: none;
		flex-wrap: wrap;

		@media(min-width: $tablet){
			flex-wrap: nowrap;
		}

		@media(min-width: $desktop){
			margin: ($column-padding*3) 0;
		}

		li {
			flex-grow: 0;
			font-weight: bold;
			cursor: pointer;
			width: 25%;
			margin-bottom: 8px;
			font-size: 37px;

			@media(min-width: $tablet){
				flex-grow: 1;
				// font-size: 14px;
				width: auto;
				margin-bottom: 0;
			}

			@media(min-width: $laptop){
				// font-size: 18px;
			}

			&:after {
				display: block;
				content: '';
				background-color: transparent;
				transition: all $transition-time ease-out;
				width: 10px;
				height: 2px;
				margin: 5px 0 0 0;

				@media(min-width: $tablet){
					width: 25px;
				}

				@media(min-width: $laptop){
					width: 35px;
					height: $youniverse-thin-line-height;
				}
			}

			&.active {
				&:after {
					background-color: #000;
				}
			}
		}
	}

	.team-member-info {
		display: none;
		padding: 0;

		h3 {
			font-weight: bold;
			font-size: 37px;
		}

		&.active {
			display: block;
		}
	}
}
