@mixin slantedBottom($percent){
	clip-path: polygon(0 0, 100% 0, 100% $percent, 0 100%);
}

@mixin slanted($top, $bottom){
	clip-path: polygon(0% $top, 100% 0%, 100% $bottom, 0% 100%);
	-webkit-clip-path: polygon(0 $top, 100% 0, 100% $bottom, 0 100%);
}

.slanted {
	@include slanted($bottom: 10%, $top: 89%);
	width: 100%;
	max-width: 100%;
}

@mixin columns($numCols, $gridGap) {
	display: grid;
	grid-template-columns: repeat($numCols, 1fr);
	grid-gap: $gridGap;
}

.two-cols {

	@media(min-width: $tablet){
		@include columns(2, 10px);
		padding: $column-padding;
	}
	
	div {
		img {
			max-width: 100%;
		}
	}
}

.container {
	max-width: 1170px;
	margin: auto;
	padding: $column-padding;
	
	@media(min-width: $tablet){
		padding: 0;
	}
}
