.slanted {
	@include slanted($bottom: 10%, $top: 89%);
	width: 100%;
	max-width: 100%;
}

// slanted edges here
.edge--bottom {
  @include angle(after);
}

.edge--bottom--reverse {
  @include angle(after, true);
}

.edge--top {
  @include angle(before);
}

.edge--top--reverse {
  @include angle(before, true);
}

.edge--both {
  @include angle(both);
}

.edge--both--reverse {
  @include angle(both, true);
}

.two-cols {

	@media(min-width: $tablet){
		@include columns(2, 10px);
		@media(min-width: $tablet){
            @include columns(2, 30px);
        }
	}

	div {
		img {
			max-width: 100%;
		}
	}
}

.container {
	max-width: 1170px;
	margin: auto;
	padding: $column-padding;

	@media(min-width: $tablet){
		padding: 0;
		width: 70%;
	}
}

.red-bar {
	position: absolute;
	width: 100%;
	top: -20%;
}


.button {
    text-align: center;
    color: $font-colour;
    background: url('../img/button-bg.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin: $column-gutter auto;
    max-width: 260px;
    padding: 13px 0;

    // @media(min-width: $tablet){
    // 	padding: 20px 0;
    // }
}




















