$tablet 				: 768px;
$tablet-landscape 		: 1024px;
$laptop 				: 1280px;
$desktop 				: 1440px;
$large-desktop 			: 1600px;

$column-gutter 			: 13px;
$column-padding 		: 13px;
$section-bottom-margin 	: 50px;
