#why {
	@extend .section-margins;

	.container {

		h2 {
			@media(min-width: $laptop){
				font-size: 52px;
			}

			@media(min-width: $desktop){
				font-size: 66px;
			}
		}

		p {
			@media(min-width: $laptop){
				font-size: 42px;
			}

			@media(min-width: $desktop){
				font-size: 48px;
			}
		}
	}
}
