#why {
	margin-bottom: $mobile-section-bottom-margin;

    @media(min-width: $tablet){
        margin-bottom: $section-bottom-margin;
    }
	.container {

		h2 {
			@media(min-width: $laptop){
				font-size: 66px;
			}
		}

		p {
			@media(min-width: $laptop){
				font-size: 48px;
			}
		}
	}
}
