.work-info {
	padding-top: 100px;
	margin-bottom: $mobile-section-bottom-margin;

	@extend .section-margins;

	.container {
		.two-cols {
			@extend .section-margins;
			div {
				position: relative;

				.client-logo {
					display: block;
					position: absolute;
					bottom: 0px;
					margin: auto;
					left: 0;
				}
			}
		}
	}

	.work-images {
		img {
			@extend .section-margins;
			max-width: 100%;
			display: block;
		}
	}
}

.phone-anim {
	position: relative;
	overflow:hidden;

	@media(min-width: $tablet){
		height: 285px;
		width: 285px;
	}

	@media(min-width: $laptop){
		height: 410px;
		width: 500px;
	}

	@media(min-width: $desktop){
		height: 500px;
		width: 600px;
	}

	img {
		margin: auto;
		display: block;
		position: relative;
		z-index: 2;
	}

	.phone-anim-phone {
		@media(min-width: $tablet){
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.website-scroll {
		position: absolute;
		left: 0;
		right: 0;
		width: 29%;
		top:10px;
		z-index: 1;

		@media(min-width: $tablet){
			width: 100px;
		}

		@media(min-width: $laptop){
			width: 150px;
		}

		@media(min-width: $desktop){
			width: 180px;
		}
	}
}
