.work-slider {

    margin-bottom: $section-bottom-margin/2;

    @media(min-width: $tablet){
        margin-bottom: $section-bottom-margin;
    }

    .slider-wrapper {

        position: relative;

        .slider {
            width: 100%;
            padding-bottom: 64%;

            img {
                width: 100%;
            }
        }

        .dots {

            margin: 0;
            padding: 0;
            list-style-type: none;
            position: absolute;
            bottom: $column-gutter;
            right: $column-gutter;
            z-index: 3;

            li {
                display: inline-block;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-radius: 50%;
                transition: all $transition-time ease-out;

                &.active {
                    background-color: $youniverse-teal;
                }
            }
        }

        .prev, .next {
            position: absolute;
            top: 50%;
            margin-top: -25px;
            display: block;
            cursor: pointer;
            z-index: 3;
            background-color: #fff;
            display: none;

            @media(min-width: $tablet){
                display: block;
            }

            svg {
                width: 25px;
            }
        }

        .next {
            right: 0;
        }

        .prev {
            left: 0;
        }
    }
}










