.work-info {
	padding-top: 100px;
	margin-bottom: $section-bottom-margin;

	.container {
		.two-cols {
			margin-bottom: $section-bottom-margin;
			div {
				position: relative;	

				.client-logo {
					display: block;
					position: absolute;
					bottom: 0px;
					margin: auto;
					left: 0;
				}
			}
		}
	}

	.work-images {
		img {
			max-width: 100%;
			margin-bottom: $section-bottom-margin;
			display: block;
		}
	}
}

.phone-anim {
	position: relative;
	overflow:hidden;

	img {
		margin: auto;
		display: block;
		position: relative;
		z-index: 2;
	}

	.website-scroll {
		position: absolute;
		left: 0;
		right: 0;
		width: 29%;
		top:10px;
		z-index: 1;
	}	
}
